@import './colours';

@mixin centeredFlexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin buttonStyle {
    background-color: white;
    padding: 7px;
    border: 3px solid $yellow;
    color: $teal;

    // background-color: $yellow;
    // color: black;
    // border: none;
    // // border-radius: 25px;
    width: 70vw;
    // padding: 10px;
    margin-top: 5vh;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    @media (min-width: $desktop) {
        width: 20vw;
        border-radius: 8px;
    }
}

@mixin inputStyle {
    width: 70vw;
    @media (min-width: $desktop) {
        width: 20vw;
    }
}