@import './abstracts/mixins';
@import './abstracts/colours';
@import './abstracts/breakpoints';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: $teal;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $teal;
  color: white;
  height: 20vh;

  .logo {
    margin: 4vh 0 0 4vh;
    border-radius: 50%;
  }

  .hamburger-icon,
  .close-icon {
    margin: 4vh 4vh 0 0;
    cursor: pointer;
    z-index: 100;
  }

  // .close-icon {
  //   // position: fixed;
  //   background-color: black;
  //   height: 10vh;
  //   // width: 100vw;
  //   margin: 0;
  //   padding: 0;
  // }

  .header-nav {
    .nav-modal {
      background-color: white;
      height: 90vh;
      width: 100vw;
      position: fixed;
      right: 0;
      top: 15vh;
      z-index: 2;

      @media (min-width: $desktop) {
        width: 20vw;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        text-decoration: none;

        li {
          margin-top: 4vh;

          .nav-link {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 20px;
            &:hover {
              color: $teal;
            }
          }
        }
      }
    }
  }
}

.section-login,
.section-signup,
.section-matching,
.section-conversations,
.login-success,
.section-profile-settings {
  background-color: $teal;
  color: white;
  height: 90vh;
  margin: 0;
}

.form-login,
.form-signup,
.login-success,
.signup-success,
.section-profile-settings,
.form-profile-settings,
.error {
  @include centeredFlexColumn;
}

.header {
  width: 100vw;
  height: 10vh;
  margin: 0;
}

.homepage {
  background-color: white;
  height: 100vh;
  main {
    @include centeredFlexColumn;

    .homepage-first-view {
      @include centeredFlexColumn;
      position: relative;
      background-image: url('images/colleagues-highfive.jpg');
      background-position: 0px 0; 
      background-size: cover;
      height: 50vh;
      width: 100vw;
      @media (min-width: $small-mobile) and (max-width: #{$medium-mobile + 1px}) {
        background-position: -30px 0; 
      }

      @media (max-width: $small-mobile) {
        background-position: -60px 0; 
      }

      @media (min-width: $desktop) {
        background-image: url('images/colleagues-highfive-desktop.jpg');
        height: 100vh;
      }

      .homepage-text {
        position: absolute;
        top: 55vh;
        @include centeredFlexColumn;

        p {
          width: 60vw;
          text-align: center;
          margin-bottom: 0;
          @media (max-width: $small-mobile) {
            width: 70vw;
          }

          em {
            color: $teal;
            font-style: normal;
            @media (min-width: $desktop) {
              background-color: $teal;
              color: white;
              border-radius: 25px;
              padding: 0 5px;
              font-style: italic;
            }
          }
        }

        .signup-link button {
          background-color: $yellow;
          color: black;
          border: none;
          padding: 10px;
        }

        .login-link button,
        .api-link button {
          background-color: white;
          padding: 7px;
          border: 3px solid $yellow;
        }
      }
    }
  }

  .logo {
    width: 60vw;
    border-radius: 50%;
    transform: translateY(24vh);
    @media (min-width: $small-mobile) and (max-width: #{$medium-mobile + 1px}) {
      transform: translateY(27vh);
    }
    @media (max-width: $small-mobile) {
      transform: translateY(30vh);
    }
    @media (min-width: $desktop) {
      width: 20vw;
      transform: translateY(5vh);
    }
  }
}

.form-login,
.form-signup {
  .required:after {
    content:' *';
    color: red;
  }
}

.form-login,
.form-signup,
.form-profile-settings {
  input {
    @include inputStyle;
  }
}

.error {
  background-color: $teal;
  height: 100vh;
}

.login-success,
.signup-success {
  height: 100vh;

  button {
    margin: 5vh;
  }
}

.section-profile-settings {
  .profile-photo {
    height: 20vh;
    width: 20vh;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5vh;
    @media (min-width: $desktop) {
      height: 20vw;
      width: 20vw;
    }
  }

  .form-profile-settings {
    padding-bottom: 5vh;
  }
}

.section-matching {
  height: 80vh;
  @media (min-width: $desktop) {
    position: relative;
    display: flex;
    align-items: center;
  }

  .matching-cards-container {
    display: flex;
    justify-content: center;
    @media (min-width: $desktop) {
      position: absolute;
      top: 0;
      left: 50vw;
    }

    .swiper {
      position: absolute;
      margin-top: 5vh;
    }
  }

  .swipe-buttons {
    position: fixed;
    bottom: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    @media (min-width: $desktop) {
      bottom: initial;
      justify-content: space-around;
      margin: 0;
      transform: translateY(-5vh);
    }

    button {
      width: 10vh;
      height: 10vh;
      border-radius: 50%;
      border: none;
      box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.16);
    }
  }

  .user-card {
    position: relative;
    width: 70vw;
    padding: 20px;
    height: 40vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.3);
    // z-index: 1;
    @media (min-width: $desktop) {
      width: 20vw;
      height: 60vh;
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 5vh;
    }

    .user-details {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 12vh;
      background-color: white;
      color: black;
      border-radius: 0 0 20px 20px;
      padding-top: 2vw;
      @media (min-width: $desktop) {
        width: 100%;
        height: 10vh;
        padding-top: 1vw;
      }
  

      h4 {
        text-transform: capitalize;
        color: $teal;
      }

      p {
        color: grey;
        font-style: italic;
      }
    
      > * {
        margin: 0 0 0 2vw;
        @media (min-width: $desktop) {
          margin: 0 0 0 1vw;
        }
      }
    }
  }
}

button {
  @include buttonStyle;
}
