@import './abstracts/mixins';
@import './abstracts/colours';

html,
body {
  margin: 0;
  padding: 0;
}

.App,
.form-login,
.form-signup,
.error {
  @include centeredFlexColumn;
}

.header {
  width: 100vw;
  height: 10vh;
  
  .hamburger {
    margin: 5vh;
  }
}

.homepage {
  background-color: $teal;
  main {
    @include centeredFlexColumn;

    .homepage-first-view {
      @include centeredFlexColumn;
      background-image: url('images/colleagues-highfive.jpg');
      background-size: cover;
      width: 100vw;
    }
  }

  .logo {
    width: 60vw;
    border-radius: 50%;
    
  }
}

.form-login,
.form-signup {
  .required:after {
    content:' *';
    color: red;
  }
}

.error {
  z-index: 1;
}
